@font-face {
    font-family: 'Malithi Web';
    src: url('fm-malithiuw46-webfont.eot');
    src: url('fm-malithiuw46-webfont.eot?#iefix') format('embedded-opentype'),
         url('malithi.woff2') format('woff2'),
         url('malithi.woff') format('woff'),
         url('malithi_web.ttf') format('truetype'),
         url('fm-malithiuw46-webfont.svg#malithi_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}