$main_colour: #65005E;
$body_colour: #333;
$muted: #6c757d;

body{
  //font-family: 'SFUIDisplay-Regular', sans-serif;
  font-family: 'Lato', 'Malithi Web', sans-serif;
  overflow-x: hidden;
  font-size: 1.1rem;
  //letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Playfair Display', sans-serif;
}

pre{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background: lighten($muted, 48%);
  padding: 3em;
  &.alignfull {
    padding: 2rem calc(50vw - 50%);
  }
}

.text-normal{
  font-size: 1rem;
}

.text-medium{
  font-size: 0.9rem;
}

.text-small{
  font-size: 0.8rem;
}

.text-bold{
  //font-family: 'SFUIDisplay-Bold', sans-serif;
  font-weight: 900;
}

.text-thin{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.text-underline{
  display: inline-block;
  border-bottom: 1px dashed lighten(#6c757d, 25%);
}

.text-md-white{
  @media (min-width: 768px) {
    color: #ffffff !important;
  }
}

.text-sm-dark{
  @media (max-width: 768px) {
    color: #333333 !important;
  }
}


h1.home-title{
  font-family: 'SFUIDisplay-Bold', sans-serif;
}

h1.page-title{
  font-family: 'SFUIDisplay-Bold', sans-serif;
  font-weight: bold;
}

a{
  color: $muted;
  &:hover{
    color: $body_colour;
    text-decoration: none;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
  }
  &.btn{
    &:hover{
      //color: #ffffff !important;
    }
  }
}

/* colours */

/* utilities */
.overlay-dark{
  background: rgba(0,0,0,0.5);
}

/* navbar */
.navbar-trans {
  background: transparent;
}

.navbar.fixed-top {
  transition: background-color 200ms linear;
  &.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-shadow: 0 0 18px rgba(0,0,0,0.2);
  }
  a{
    &:hover{
      border: none;
    }
  }
}

/*@media only screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    background-color: #ffffff;
    height: 100vh;
    a{
      color: $body_colour;
    }
  }
}*/

  /* header */
  #logo{
    height: 45px;
  }

  /* single article */
  article.single-article{
    header{
      background-position: center;
      height: 100vh;
      h1{
        padding: 6rem auto;
      }
    }

    @media (min-width: 768px) {
      .post-content{
        margin-top: -220px;
      }
    }

    #post{
      p:first-of-type {
        font-size: 21px;
        font-weight: 400;
      }

      a{
        border-bottom-style: dashed;
        border-bottom-width: 1px;
        color: $body_colour;
        &:visited{
          color: $muted;
        }
        &:hover{
          color: $main_colour;
        }
      }
    }
  }

  ul.meta-tags{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0.5rem 0;
    li{
      display: inline-block;
      margin: 0 1rem;
      .meta-author-thumb{
        width: 5rem;
        display: inline-block;
        border-radius: 50%;
        border:4px solid #ffffff;
      }
    }
  }
  @media (min-width: 768px) {
    ul.meta-tags{

    }
  }

  .img-inner-100{
    max-width: 100%;
  }

  .img-outer-100{
    max-width: 100%;
  }

  /*.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    //max-width: 1000%;
    width: auto;
  }*/

  .alignfull {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
  }

.footer-social-media{
  a{
    &:hover{
      border: none;
    }
  }
  i{
    margin: 0 5px;
  }
}

footer{
  &#main-footer{
    .footer-copy-section{
      display: block;
      margin: 0 15px;
    }
    @media (min-width: 768px) {
      .footer-copy-section {
        display: inline-block;
      }
    }
  }
}