body {
  font-family: 'Lato', 'Malithi Web', sans-serif;
  overflow-x: hidden;
  font-size: 1.1rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', sans-serif; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background: #eeeff0;
  padding: 3em; }
  pre.alignfull {
    padding: 2rem calc(50vw - 50%); }

.text-normal {
  font-size: 1rem; }

.text-medium {
  font-size: 0.9rem; }

.text-small {
  font-size: 0.8rem; }

.text-bold {
  font-weight: 900; }

.text-thin {
  font-family: 'Lato', sans-serif;
  font-weight: 100; }

.text-underline {
  display: inline-block;
  border-bottom: 1px dashed #afb5ba; }

@media (min-width: 768px) {
  .text-md-white {
    color: #ffffff !important; } }

@media (max-width: 768px) {
  .text-sm-dark {
    color: #333333 !important; } }

h1.home-title {
  font-family: 'SFUIDisplay-Bold', sans-serif; }

h1.page-title {
  font-family: 'SFUIDisplay-Bold', sans-serif;
  font-weight: bold; }

a {
  color: #6c757d; }
  a:hover {
    color: #333;
    text-decoration: none;
    border-bottom-style: dashed;
    border-bottom-width: 1px; }

/* colours */
/* utilities */
.overlay-dark {
  background: rgba(0, 0, 0, 0.5); }

/* navbar */
.navbar-trans {
  background: transparent; }

.navbar.fixed-top {
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear; }
  .navbar.fixed-top.scrolled {
    background-color: #fff !important;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.2); }
  .navbar.fixed-top a:hover {
    border: none; }

/*@media only screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    background-color: #ffffff;
    height: 100vh;
    a{
      color: $body_colour;
    }
  }
}*/
/* header */
#logo {
  height: 45px; }

/* single article */
article.single-article header {
  background-position: center;
  height: 100vh; }
  article.single-article header h1 {
    padding: 6rem auto; }
@media (min-width: 768px) {
  article.single-article .post-content {
    margin-top: -220px; } }
article.single-article #post p:first-of-type {
  font-size: 21px;
  font-weight: 400; }
article.single-article #post a {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  color: #333; }
  article.single-article #post a:visited {
    color: #6c757d; }
  article.single-article #post a:hover {
    color: #65005E; }

ul.meta-tags {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0.5rem 0; }
  ul.meta-tags li {
    display: inline-block;
    margin: 0 1rem; }
    ul.meta-tags li .meta-author-thumb {
      width: 5rem;
      display: inline-block;
      border-radius: 50%;
      border: 4px solid #ffffff; }

.img-inner-100 {
  max-width: 100%; }

.img-outer-100 {
  max-width: 100%; }

/*.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  //max-width: 1000%;
  width: auto;
}*/
.alignfull {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw; }

.footer-social-media a:hover {
  border: none; }
.footer-social-media i {
  margin: 0 5px; }

footer#main-footer .footer-copy-section {
  display: block;
  margin: 0 15px; }
@media (min-width: 768px) {
  footer#main-footer .footer-copy-section {
    display: inline-block; } }

/*# sourceMappingURL=styles.css.map */